<ion-view view-title="Welcome">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Welcome</div>
      <div class="item item-body">
        <p>
          Welcome to Ionic.io!  This app has been pre-loaded with every powerful service we offer.  Here you will
          find examples of each one, along with links to their respective documentation.  Simply hit one of the tabs
          to get started!
        </p>
        <img class="full-image" src="img/ionic.png">
      </div>
    </div>
  </ion-content>
</ion-view>
