<ion-view view-title="Deploy">
  <ion-content style="background: #aaa;" class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/deploy-header.png">
        <h2>Ionic Deploy</h2>
        <p>
          Easy updates, no resubmission.
        </p>
      </div>
      <div class="item item-body">
        <p>
          The Ionic deploy service makes it possible to ship new updates to your app without going through the app store
          resubmission process. For many changes, Apple allows immediate app updating without resubmission, if the core
          functionality or purpose of the app does not change.  See the docs
          <a href="http://docs.ionic.io/deploy/">here</a> to learn more.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
