<ion-view view-title="Analytics">
  <ion-content style="background: #aaa;" class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/analytics-pulse-header.png">
        <h2>Ionic Analytics</h2>
        <p>
          Powerful usage analysis.
        </p>
      </div>
      <div class="item item-body">
        <p>
          The Ionic Analytics service makes it easy to add powerful analytics to your hybrid mobile apps.
        </p>
        <p>
          Unlike other analytics providers, Ionic can infer user behavior through the deep integration of the analytics
          system with the UI layer. This means Ionic can automatically track taps and interactions and also associate
          events with various states in your app's routing (to generate heatmaps, for example). Check out the docs
          <a href="http://docs.ionic.io/analytics/">here</a>.
        </p>
        <p>
          If you've added your API key correctly, then this app is already tracking analytics!  Hit one of the buttons
          below to simulate some events.
        </p>
        <button class="button button-block button-dark" ng-click="trackPurchase()">
          Simulate a purchase
        </button>
        <button class="button button-block button-dark" ng-click="trackReview()">
          Simulate a review
        </button>
      </div>
    </div>
    <div ng-if="queuedAnalytics" class="list card">
      <div class="item item-avatar">
        <img src="img/ionic-header.png">
        <h2>Success!</h2>
        <p>
          Event queued!
        </p>
      </div>
      <div class="item item-body">
        <h2>
          The event has been queued for sending to our analytics server.  Check your dashboard on apps.ionic.io in a
          minute or two to see it!
        </h2>
      </div>
    </div>
  </ion-content>
</ion-view>
